$primary-color: rgb(197, 197, 197);
$secondary-color: rgb(233, 233, 233);

$default-border: 1px solid $primary-color;

html {
  background-color: $secondary-color;
  font-family: "Raleway", sans-serif;
}

body {
  box-sizing: border-box;
}

p {
  margin: 0.5em 0;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 700px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
}
