.card {
  height: 90vh;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 65%;
  margin: 3rem auto;
  background-color: white;

  &__search {
    border-bottom: $default-border;
    width: 98%;
    margin: 0 auto;

    &-input {
      width: 100%;
      outline: none;
      margin-top: 0.8rem;
      padding: 0.2em;
      font-size: 1.2em;
      border-style: hidden;
    }
  }

  &__item {
    display: flex;
    border-bottom: $default-border;
    padding-bottom: 10px;
    align-items: flex-start;
  }

  &__image {
    border: $default-border;
    border-radius: 50%;
    width: 8rem;
    margin: 2rem 1rem;
  }

  &__content {
    margin-left: 2em;

    &-list {
      margin-left: 1rem;
    }
  }

  &__name {
    font-weight: 900;
  }

  p {
    margin: 2px 0;
  }

  &__button {
    margin: 0.7em 0.5em 0 auto;
    border: none;
    background-color: white;
    color: $primary-color;
    font-size: 2em;

    &:hover {
      color: black;
    }
  }
}

.tag {
  &__item {
    background-color: $primary-color;
  }

  &__form-input {
    outline: none;
    margin: 0.6em 0 0.3em;
    padding-bottom: 0.5em;
    border-style: hidden;
    font-size: 1rem;
    border-bottom: $default-border;
    width: 60%;

    &:focus {
      border-bottom: 1px solid black;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
